<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TVariableOperateLogMapper">

    <resultMap type="TVariableOperateLog" id="TVariableOperateLogResult">
        <result property="tVariableOperateId"    column="t_variable_operate_id"    />
        <result property="variableNameEn"    column="variable_name_en"    />
        <result property="operateAuther"    column="operate_auther"    />
        <result property="createTime"    column="create_time"    />
        <result property="operateIp"    column="operate_ip"    />
        <result property="operateType"    column="operate_type"    />
    </resultMap>

    <sql id="selectTVariableOperateLogVo">
        select t_variable_operate_id,variable_name_en,operate_auther,create_time,operate_ip,operate_type from t_variable_operate_log
    </sql>

    <select id="selectTVariableOperateLogList" parameterType="TVariableOperateLog" resultMap="TVariableOperateLogResult">
        <include refid="selectTVariableOperateLogVo"/>
        <where>
            <if test="variableNameEn != null  and variableNameEn != ''"> and variable_Name_En = #{variableNameEn}</if>
        </where>
        order by create_time desc
    </select>
    <insert id="insertTVariableOperateLog" parameterType="TVariableOperateLog" useGeneratedKeys="true" keyProperty="tVariableOperateId">
        insert into t_variable_operate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="variableNameEn != null  and variableNameEn != ''">variable_name_EN,</if>
            <if test="operateAuther != null  and operateAuther != ''">operate_Auther,</if>
            <if test="operateIp != null  and operateIp != ''">operate_Ip,</if>
            <if test="operateType != null  and operateType != ''">operate_Type,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="variableNameEn != null  and variableNameEn != ''">#{variableNameEn},</if>
            <if test="operateAuther != null  and operateAuther != ''">#{operateAuther},</if>
            <if test="operateIp != null  and operateIp != ''">#{operateIp},</if>
            <if test="operateType != null  and operateType != ''">#{operateType},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

</mapper>