<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.skyon.domain.TDataSource" alias="TDataSource"/>
		<typeAlias type="com.skyon.domain.TDataResultSource" alias="TDataResultSource"/>
		<typeAlias type="com.skyon.domain.TSqlDevelop" alias="TSqlDevelop"/>
		<typeAlias type="com.skyon.domain.TSelfFunction" alias="TSelfFunction"/>
		<typeAlias type="com.skyon.domain.TDimensionTable" alias="TDimensionTable"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://39.107.230.151:3306/upwisdom?useUnicode=true;characterEncoding=utf8;zeroDateTimeBehavior=convertToNull;useSSL=true;serverTimezone=UTC"/>
				<property name="username" value="MySQL"/>
				<property name="password" value="2052874615"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/TDataSourceMapper.xml"/>
		<mapper resource="mybatis/TDataResultSourceMapper.xml"/>
		<mapper resource="mybatis/TSqlDevelopMapper.xml"/>
		<mapper resource="mybatis/TSelfFunctionMapper.xml"/>
		<mapper resource="mybatis/TDimensionTableMapper.xml"/>
	</mappers>

</configuration>