<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.domain.TDataResultSource.TDataResultSourceMapper">
    
    <resultMap type="TDataResultSource" id="TDataResultSourceResult">
        <result property="dataResultSourceId"    column="data_result_source_id"    />
        <result property="dataSourceName"    column="data_source_name"    />
        <result property="dataSourceType"    column="data_source_type"    />
        <result property="connectorType"    column="connector_type"    />
        <result property="dataSource"    column="data_source"    />
        <result property="topicName"    column="topic_name"    />
        <result property="tableName"    column="table_name"    />
        <result property="consumerGroup"    column="consumer_group"    />
        <result property="consumerMode"    column="consumer_mode"    />
        <result property="zookeeperAddress"    column="zookeeper_address"    />
        <result property="kafkaAddress"    column="kafka_address"    />
        <result property="schemaDefine"    column="schema_define"    />
        <result property="dataBaseType"    column="data_base_type"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectTDataResultSourceVo">
        select data_result_source_id, data_source_name, data_source_type, connector_type, data_source, topic_name, table_name, consumer_group, consumer_mode, zookeeper_address, kafka_address, schema_define, data_base_type, description, create_time, modify_time from t_data_result_source
    </sql>

    <select id="selectTDataResultSourceList" parameterType="TDataResultSource" resultMap="TDataResultSourceResult">
        <include refid="selectTDataResultSourceVo"/>
        <where>  
            <if test="dataSourceName != null  and dataSourceName != ''"> and data_source_name like concat('%', #{dataSourceName}, '%')</if>
            <if test="dataSourceType != null  and dataSourceType != ''"> and data_source_type = #{dataSourceType}</if>
            <if test="connectorType != null  and connectorType != ''"> and connector_type = #{connectorType}</if>
            <if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
            <if test="topicName != null  and topicName != ''"> and topic_name like concat('%', #{topicName}, '%')</if>
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="consumerGroup != null  and consumerGroup != ''"> and consumer_group = #{consumerGroup}</if>
            <if test="consumerMode != null  and consumerMode != ''"> and consumer_mode = #{consumerMode}</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''"> and zookeeper_address = #{zookeeperAddress}</if>
            <if test="kafkaAddress != null  and kafkaAddress != ''"> and kafka_address = #{kafkaAddress}</if>
            <if test="schemaDefine != null  and schemaDefine != ''"> and schema_define = #{schemaDefine}</if>
            <if test="dataBaseType != null  and dataBaseType != ''"> and data_base_type = #{dataBaseType}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
    </select>
    
    <select id="selectTDataResultSourceById" parameterType="Long" resultMap="TDataResultSourceResult">
        <include refid="selectTDataResultSourceVo"/>
        where data_result_source_id = #{dataResultSourceId}
    </select>
        
    <insert id="insertTDataResultSource" parameterType="TDataResultSource" useGeneratedKeys="true" keyProperty="dataResultSourceId">
        insert into t_data_result_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataSourceName != null  and dataSourceName != ''">data_source_name,</if>
            <if test="dataSourceType != null  and dataSourceType != ''">data_source_type,</if>
            <if test="connectorType != null  and connectorType != ''">connector_type,</if>
            <if test="dataSource != null  and dataSource != ''">data_source,</if>
            <if test="topicName != null  and topicName != ''">topic_name,</if>
            <if test="tableName != null  and tableName != ''">table_name,</if>
            <if test="consumerGroup != null  and consumerGroup != ''">consumer_group,</if>
            <if test="consumerMode != null  and consumerMode != ''">consumer_mode,</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">zookeeper_address,</if>
            <if test="kafkaAddress != null  and kafkaAddress != ''">kafka_address,</if>
            <if test="schemaDefine != null  and schemaDefine != ''">schema_define,</if>
            <if test="dataBaseType != null  and dataBaseType != ''">data_base_type,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="modifyTime != null ">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataSourceName != null  and dataSourceName != ''">#{dataSourceName},</if>
            <if test="dataSourceType != null  and dataSourceType != ''">#{dataSourceType},</if>
            <if test="connectorType != null  and connectorType != ''">#{connectorType},</if>
            <if test="dataSource != null  and dataSource != ''">#{dataSource},</if>
            <if test="topicName != null  and topicName != ''">#{topicName},</if>
            <if test="tableName != null  and tableName != ''">#{tableName},</if>
            <if test="consumerGroup != null  and consumerGroup != ''">#{consumerGroup},</if>
            <if test="consumerMode != null  and consumerMode != ''">#{consumerMode},</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">#{zookeeperAddress},</if>
            <if test="kafkaAddress != null  and kafkaAddress != ''">#{kafkaAddress},</if>
            <if test="schemaDefine != null  and schemaDefine != ''">#{schemaDefine},</if>
            <if test="dataBaseType != null  and dataBaseType != ''">#{dataBaseType},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="modifyTime != null ">#{modifyTime},</if>
         </trim>
    </insert>

    <update id="updateTDataResultSource" parameterType="TDataResultSource">
        update t_data_result_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="dataSourceName != null  and dataSourceName != ''">data_source_name = #{dataSourceName},</if>
            <if test="dataSourceType != null  and dataSourceType != ''">data_source_type = #{dataSourceType},</if>
            <if test="connectorType != null  and connectorType != ''">connector_type = #{connectorType},</if>
            <if test="dataSource != null  and dataSource != ''">data_source = #{dataSource},</if>
            <if test="topicName != null  and topicName != ''">topic_name = #{topicName},</if>
            <if test="tableName != null  and tableName != ''">table_name = #{tableName},</if>
            <if test="consumerGroup != null  and consumerGroup != ''">consumer_group = #{consumerGroup},</if>
            <if test="consumerMode != null  and consumerMode != ''">consumer_mode = #{consumerMode},</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">zookeeper_address = #{zookeeperAddress},</if>
            <if test="kafkaAddress != null  and kafkaAddress != ''">kafka_address = #{kafkaAddress},</if>
            <if test="schemaDefine != null  and schemaDefine != ''">schema_define = #{schemaDefine},</if>
            <if test="dataBaseType != null  and dataBaseType != ''">data_base_type = #{dataBaseType},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="modifyTime != null ">modify_time = #{modifyTime},</if>
        </trim>
        where data_result_source_id = #{dataResultSourceId}
    </update>

    <delete id="deleteTDataResultSourceById" parameterType="Long">
        delete from t_data_result_source where data_result_source_id = #{dataResultSourceId}
    </delete>

    <delete id="deleteTDataResultSourceByIds" parameterType="String">
        delete from t_data_result_source where data_result_source_id in 
        <foreach item="dataResultSourceId" collection="array" open="(" separator="," close=")">
            #{dataResultSourceId}
        </foreach>
    </delete>
    
</mapper>