<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TDatasourceFieldMapper">

    <resultMap type="TDatasourceField" id="TDatasourceFieldResult">
        <result property="id" column="id"/>
        <result property="datasourceTableName" column="datasource_table_name"/>
        <result property="tableType" column="table_type"/>
        <result property="fieldName" column="field_name"/>
        <result property="fieldType" column="field_type"/>
        <result property="isUsed" column="is_used"/>
        <result property="usedVariableId" column="used_variable_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <sql id="selectTDatasourceFieldVo">
        select id,datasource_table_name,table_type,field_name,field_type,is_used,used_variable_id,create_time, modify_time from t_datasource_field
    </sql>

    <select id="selectTDatasourceFieldList" parameterType="TDatasourceField" resultMap="TDatasourceFieldResult">
        <include refid="selectTDatasourceFieldVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="datasourceTableName != null  and datasourceTableName != ''">and datasource_table_name = #{datasourceTableName}
            </if>
            <if test="fieldName != null  and fieldName != ''">and field_name = #{fieldName}</if>
            <if test="fieldType != null  and fieldType != ''">and field_type = #{fieldType}</if>
            <if test="isUsed != null  and isUsed != ''">and is_used = #{isUsed}</if>
            <if test="usedVariableId != null  and usedVariableId != ''">and used_variable_id = #{usedVariableId}</if>
        </where>
    </select>

    <select id="selectTDatasourceFieldByName" parameterType="String" resultMap="TDatasourceFieldResult">
        <include refid="selectTDatasourceFieldVo"/>
        where datasource_table_name = #{tableName} and table_type = #{tableType}
    </select>


    <select id="selectFieldBYVariableEN" parameterType="Map" resultType="Map">
        select f.field_name from t_variable_classification c
        left join t_datasource_field f on c.source_dab_relation = f.datasource_table_name
        where c.variable_classification_id = #{id} and f.table_type = #{tableType} and used_variable_id like concat('%', #{name}, '%')
    </select>

    <select id="selectDimensionField" parameterType="String" resultType="Map">
        select s.field_name,s.datasource_table_name from t_datasource_field s
        where used_variable_id like concat('%', #{variableName}, '%') and table_type ='02'
    </select>

<!--    and s.datasource_table_name in-->
<!--    <foreach collection="tableNames" item="tableNames" open="(" close=")" separator=",">-->
<!--        #{tableNames}-->
<!--    </foreach>-->

    <insert id="insertTDatasourceField" parameterType="java.util.ArrayList" useGeneratedKeys="true" keyProperty="id">
        insert into t_datasource_field (datasource_table_name,table_type,field_name,field_type,is_used,create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tableName},#{item.tableType},#{item.fieldName},#{item.fieldType},#{item.isUsed},sysdate())
        </foreach>
    </insert>

    <update id="updateFieldName" parameterType="Map">
        <foreach collection="array" item="item" separator=";" open="" close=";">
            update t_datasource_field set field_name = #{item.fieldName}, modify_time = sysdate()
            where is_used = '0' and id = #{item.id}
        </foreach>
    </update>

    <update id="updateFieldNameIsUsed" parameterType="Map">
        update t_datasource_field q set modify_time = sysdate(),q.is_used = '1', q.used_variable_id = CONCAT(IFNULL(q.used_variable_id,''),'',#{variableName}) where q.id in (
            select qq.id from (
                select f.id from t_variable_classification c
                left join t_datasource_field f on c.source_dab_relation = f.datasource_table_name
                where c.variable_classification_id = #{id}
                and f.field_name in
                <foreach collection="fields" item="fields" separator="," open="(" close=")">
                    #{fields}
                </foreach>
                 and (locate(#{variableName},used_variable_id) = 0 or used_variable_id is null)
            ) qq
        )
    </update>

    <update id="updateDimensionTableFieldNameIsUsed" parameterType="java.util.ArrayList">
        <foreach collection="list" item="item" separator=";" open="" close=";">
            update t_datasource_field s set modify_time = sysdate(), s.is_used = '1', s.used_variable_id = CONCAT(IFNULL(s.used_variable_id,''),'',#{item.variableName})
            where (locate(#{item.variableName},used_variable_id) = 0 or used_variable_id is null) and s.field_name = #{item.fieldName}
            and s.datasource_table_name = #{item.tableName} and table_type='02'
        </foreach>
    </update>

    <update id="updateWhenDelete" parameterType="Map">
        <foreach collection="list" item="item" separator=";" open="" close=";">
            update t_datasource_field q set modify_time = sysdate(),
                q.is_used = CASE WHEN q.used_variable_id = #{item.variableName} THEN '0' ELSE '1' END ,
                used_variable_id = CASE WHEN q.used_variable_id = #{item.variableName} THEN null ELSE replace(used_variable_id,#{item.variableName},'') END
                where q.field_name = #{item.fieldName}
                and q.datasource_table_name = #{item.tableName} and table_type='02'
        </foreach>
    </update>

    <update id="updateIsUsedTableType01ById" parameterType="Map">
        update t_datasource_field q set q.modify_time = sysdate(),
        q.is_used = CASE WHEN q.used_variable_id = #{variableName} THEN '0' ELSE '1' END ,
        used_variable_id = CASE WHEN q.used_variable_id = #{variableName} THEN null ELSE replace(used_variable_id,#{variableName},'') END
        where q.id in (
            select qq.id from (
                select f.id from t_variable_classification c
                left join t_datasource_field f on c.source_dab_relation = f.datasource_table_name
                where c.variable_classification_id = #{id} and table_type = '01'
                    and f.field_name in
                    <foreach collection="fields" item="fields" separator="," open="(" close=")">
                        #{fields}
                     </foreach>
            ) qq
        )
    </update>

    <update id="updateIsUsed1ById" parameterType="Map">
        update t_datasource_field q set q.modify_time = sysdate(),
        q.is_used = '1',
        q.used_variable_id = CONCAT(IFNULL(q.used_variable_id,''),'',#{variableName})
        where q.id in (
            select qq.id from (
                select f.id from t_variable_classification c
                left join t_datasource_field f on c.source_dab_relation = f.datasource_table_name
                where c.variable_classification_id = #{id} and table_type = '01'
                    and f.field_name in
                    <foreach collection="fields" item="fields" separator="," open="(" close=")">
                        #{fields}
                    </foreach>
            ) qq
        )
    </update>

    <delete id="deleteTdatasourceField" parameterType="Map">
        delete from t_datasource_field where datasource_table_name in
        <foreach collection="tableNames" item="tableNames" open="(" close=")" separator=",">
            #{tableNames}
        </foreach>
         and table_type = #{tableType}
    </delete>


    <!--    <delete id="deleteTDataSourceById" parameterType="Long">-->
    <!--        delete from t_data_source where data_source_id = #{dataSourceId}-->
    <!--    </delete>-->

    <!--    <delete id="deleteTDataSourceByIds" parameterType="String">-->
    <!--        delete from t_data_source where data_source_id in -->
    <!--        <foreach item="dataSourceId" collection="array" open="(" separator="," close=")">-->
    <!--            #{dataSourceId}-->
    <!--        </foreach>-->
    <!--    </delete>-->

</mapper>