<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TDimensionTableMapper">
    
    <resultMap type="TDimensionTable" id="TDimensionTableResult">
        <result property="dimensionId"    column="dimension_id"    />
        <result property="dimensionName"    column="dimension_name"    />
        <result property="dimensionNameZH"    column="dimension_Name_ZH"    />
        <result property="connectorType"    column="connector_type"    />
        <result property="dataSource"    column="data_source"    />
        <result property="description"    column="description"    />
        <result property="redisAddress"    column="redis_address"    />
        <result property="clusterName"    column="cluster_Name"    />
        <result property="redisDataType"    column="redis_data_type"    />
        <result property="redisKey"    column="redis_key"    />
        <result property="redisKeyField"    column="redis_key_field"    />
        <result property="redisSchemaDefine"    column="redis_Schema_Define"    />
        <result property="jdbcUrlAddress"    column="jdbc_url_address"    />
        <result property="jdbcDrive"    column="jdbc_drive"    />
        <result property="jdbcUserName"    column="jdbc_user_name"    />
        <result property="jdbcUserPwd"    column="jdbc_user_pwd"    />
        <result property="jdbcPrimaryKey"    column="jdbc_Primary_Key"    />
        <result property="esUrlAddress"    column="es_url_address"    />
        <result property="esIndex"    column="es_Index"    />
        <result property="esPrimaryKey"    column="es_Primary_Key"    />
        <result property="schemaDefine"    column="schema_define"    />
        <result property="zookeeperAddress"    column="zookeeper_address"    />
        <result property="hbaseTableName"    column="hbase_table_name"    />
        <result property="hbaseSchemaDefine"    column="hbase_schema_define"    />
        <result property="rowkey"    column="rowkey"    />
        <result property="hbaseCreateSql"    column="hbase_create_sql"    />
        <result property="jdbcCreateSql"    column="jdbc_create_sql"    />
        <result property="esCreateSql"    column="es_create_sql"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <resultMap type="java.util.Map" id="TDimensionTableResultGroup">
        <result property="connectorType"    column="connector_type"  />
    </resultMap>


    <sql id="selectTDimensionTableVo">
        select dimension_id, dimension_name, connector_type, data_source, description, redis_address, redis_data_type, redis_key,hbase_create_sql,es_create_sql,jdbc_create_sql,cluster_Name,
         redis_key_field,redis_Schema_Define, jdbc_url_address, jdbc_drive, jdbc_user_name, jdbc_user_pwd,jdbc_Primary_Key,es_Index,es_Url_Address,es_Primary_Key, schema_define, zookeeper_address,
          hbase_table_name,hbase_schema_define,rowkey,dimension_Name_ZH, create_time, update_time,create_by,create_id,update_by from t_dimension_table t
    </sql>

    <select id="selectTDimensionTableList" parameterType="TDimensionTable" resultMap="TDimensionTableResult">
        <include refid="selectTDimensionTableVo"/>
        <where>  
            <if test="dimensionName != null  and dimensionName != ''"> and dimension_name like concat('%', #{dimensionName}, '%')</if>
            <if test="dimensionNameZH != null  and dimensionNameZH != ''"> and dimension_Name_ZH like concat('%', #{dimensionNameZH}, '%')</if>
            <if test="connectorType != null  and connectorType != ''"> and connector_type = #{connectorType}</if>
            <if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="dataScope != null and dataScope != ''"> ${dataScope}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getTDimensionTableListByNames" parameterType="String" resultMap="TDimensionTableResult">
        <include refid="selectTDimensionTableVo"/>
        where dimension_name in
        <foreach item="dimensionNames" collection="array" open="(" separator="," close=")">
            #{dimensionNames}
        </foreach>
    </select>

    <select id="getTDimensionTableListByIds" parameterType="Long" resultMap="TDimensionTableResult">
        <include refid="selectTDimensionTableVo"/>
        where dimension_id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>



    <select id="selectTDimensionTableListGroupByType" resultMap="TDimensionTableResultGroup">
        select connector_type from t_dimension_table where connector_type = '01' group by connector_type;
    </select>
    
    <select id="selectTDimensionTableById" parameterType="Long" resultMap="TDimensionTableResult">
        <include refid="selectTDimensionTableVo"/>
        where dimension_id = #{dimensionId}
    </select>

    <select id="selectTDimensionTableByConntype" resultMap="TDimensionTableResult">
        <include refid="selectTDimensionTableVo"/>
        where connector_Type = '01'
    </select>
        
    <insert id="insertTDimensionTable" parameterType="TDimensionTable" useGeneratedKeys="true" keyProperty="dimensionId">
        insert into t_dimension_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dimensionName != null  and dimensionName != ''">dimension_name,</if>
            <if test="dimensionNameZH != null  and dimensionNameZH != ''">dimension_Name_ZH,</if>
            <if test="connectorType != null  and connectorType != ''">connector_type,</if>
            <if test="dataSource != null  and dataSource != ''">data_source,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="redisAddress != null  and redisAddress != ''">redis_address,</if>
            <if test="clusterName != null  and clusterName != ''">cluster_Name,</if>
            <if test="redisDataType != null  and redisDataType != ''">redis_data_type,</if>
            <if test="redisKey != null  and redisKey != ''">redis_key,</if>
            <if test="redisKeyField != null  and redisKeyField != ''">redis_key_field,</if>
            <if test="redisSchemaDefine != null  and redisSchemaDefine != ''">redis_Schema_Define,</if>
            <if test="jdbcUrlAddress != null  and jdbcUrlAddress != ''">jdbc_url_address,</if>
            <if test="jdbcDrive != null  and jdbcDrive != ''">jdbc_drive,</if>
            <if test="jdbcUserName != null  and jdbcUserName != ''">jdbc_user_name,</if>
            <if test="jdbcUserPwd != null  and jdbcUserPwd != ''">jdbc_user_pwd,</if>
            <if test="jdbcPrimaryKey != null  and jdbcPrimaryKey != ''">jdbc_Primary_Key,</if>
            <if test="esIndex != null  and esIndex != ''">es_Index,</if>
            <if test="esUrlAddress != null  and esUrlAddress != ''">es_Url_Address,</if>
            <if test="esPrimaryKey != null  and esPrimaryKey != ''">es_Primary_Key,</if>
            <if test="schemaDefine != null  and schemaDefine != ''">schema_define,</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">zookeeper_address,</if>
            <if test="hbaseTableName != null  and hbaseTableName != ''">hbase_table_name,</if>
            <if test="hbaseSchemaDefine != null  and hbaseSchemaDefine != ''">hbase_schema_define,</if>
            <if test="hbaseCreateSql != null  and hbaseCreateSql != ''">hbase_create_sql,</if>
            <if test="jdbcCreateSql != null  and jdbcCreateSql != ''">jdbc_create_sql,</if>
            <if test="esCreateSql != null  and esCreateSql != ''">es_create_sql,</if>
            <if test="rowkey != null  and rowkey != ''">rowkey,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createId != null  and createId != ''">create_id,</if>
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dimensionName != null  and dimensionName != ''">#{dimensionName},</if>
            <if test="dimensionNameZH != null  and dimensionNameZH != ''">#{dimensionNameZH},</if>
            <if test="connectorType != null  and connectorType != ''">#{connectorType},</if>
            <if test="dataSource != null  and dataSource != ''">#{dataSource},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="redisAddress != null  and redisAddress != ''">#{redisAddress},</if>
            <if test="clusterName != null  and clusterName != ''">#{clusterName},</if>
            <if test="redisDataType != null  and redisDataType != ''">#{redisDataType},</if>
            <if test="redisKey != null  and redisKey != ''">#{redisKey},</if>
            <if test="redisKeyField != null  and redisKeyField != ''">#{redisKeyField},</if>
            <if test="redisSchemaDefine != null  and redisSchemaDefine != ''">#{redisSchemaDefine},</if>
            <if test="jdbcUrlAddress != null  and jdbcUrlAddress != ''">#{jdbcUrlAddress},</if>
            <if test="jdbcDrive != null  and jdbcDrive != ''">#{jdbcDrive},</if>
            <if test="jdbcUserName != null  and jdbcUserName != ''">#{jdbcUserName},</if>
            <if test="jdbcUserPwd != null  and jdbcUserPwd != ''">#{jdbcUserPwd},</if>
            <if test="jdbcPrimaryKey != null  and jdbcPrimaryKey != ''">#{jdbcPrimaryKey},</if>
            <if test="esIndex != null  and esIndex != ''">#{esIndex},</if>
            <if test="esUrlAddress != null  and esUrlAddress != ''">#{esUrlAddress},</if>
            <if test="esPrimaryKey != null  and esPrimaryKey != ''">#{esPrimaryKey},</if>
            <if test="schemaDefine != null  and schemaDefine != ''">#{schemaDefine},</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">#{zookeeperAddress},</if>
            <if test="hbaseTableName != null  and hbaseTableName != ''">#{hbaseTableName},</if>
            <if test="hbaseSchemaDefine != null  and hbaseSchemaDefine != ''">#{hbaseSchemaDefine},</if>
            <if test="hbaseCreateSql != null  and hbaseCreateSql != ''">#{hbaseCreateSql},</if>
            <if test="jdbcCreateSql != null  and jdbcCreateSql != ''">#{jdbcCreateSql},</if>
            <if test="esCreateSql != null  and esCreateSql != ''">#{esCreateSql},</if>
            <if test="rowkey != null  and rowkey != ''">#{rowkey},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createId != null  and createId != ''">#{createId},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateTDimensionTable" parameterType="TDimensionTable">
        update t_dimension_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="dimensionNameZH != null  and dimensionNameZH != ''">dimension_Name_ZH = #{dimensionNameZH},</if>
            <if test="dimensionName != null">dimension_name = #{dimensionName},</if>
            <if test="connectorType != null  and connectorType != ''">connector_type = #{connectorType},</if>
            <if test="dataSource != null  and dataSource != ''">data_source = #{dataSource},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="redisAddress != null  and redisAddress != ''">redis_address = #{redisAddress},</if>
            <if test="clusterName != null  and clusterName != ''">cluster_Name = #{clusterName},</if>
            <if test="redisDataType != null  and redisDataType != ''">redis_data_type = #{redisDataType},</if>
            <if test="redisKey != null  and redisKey != ''">redis_key = #{redisKey},</if>
            <if test="redisKeyField != null  and redisKeyField != ''">redis_key_field = #{redisKeyField},</if>
            <if test="redisSchemaDefine != null  and redisSchemaDefine != ''">redis_Schema_Define = #{redisSchemaDefine},</if>
            <if test="jdbcUrlAddress != null  and jdbcUrlAddress != ''">jdbc_url_address = #{jdbcUrlAddress},</if>
            <if test="jdbcDrive != null  and jdbcDrive != ''">jdbc_drive = #{jdbcDrive},</if>
            <if test="jdbcUserName != null  and jdbcUserName != ''">jdbc_user_name = #{jdbcUserName},</if>
            <if test="jdbcUserPwd != null  and jdbcUserPwd != ''">jdbc_user_pwd = #{jdbcUserPwd},</if>
            <if test="jdbcPrimaryKey != null  and jdbcPrimaryKey != ''">jdbc_Primary_Key = #{jdbcPrimaryKey},</if>
            <if test="esUrlAddress != null  and esUrlAddress != ''">es_Url_Address = #{esUrlAddress},</if>
            <if test="esIndex != null  and esIndex != ''">es_Index = #{esIndex},</if>
            <if test="esPrimaryKey != null  and esPrimaryKey != ''">es_Primary_Key = #{esPrimaryKey},</if>
            <if test="schemaDefine != null  and schemaDefine != ''">schema_define = #{schemaDefine},</if>
            <if test="zookeeperAddress != null  and zookeeperAddress != ''">zookeeper_address = #{zookeeperAddress},</if>
            <if test="hbaseTableName != null  and hbaseTableName != ''">hbase_table_name = #{hbaseTableName},</if>
            <if test="hbaseSchemaDefine != null  and hbaseSchemaDefine != ''">hbase_Schema_Define = #{hbaseSchemaDefine},</if>
            <if test="hbaseCreateSql != null  and hbaseCreateSql != ''">hbase_create_sql = #{hbaseCreateSql},</if>
            <if test="jdbcCreateSql != null  and jdbcCreateSql != ''">jdbc_create_sql = #{jdbcCreateSql},</if>
            <if test="rowkey != null  and rowkey != ''">rowkey = #{rowkey},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where dimension_id = #{dimensionId}
    </update>

    <delete id="deleteTDimensionTableById" parameterType="Long">
        delete from t_dimension_table where dimension_id = #{dimensionId}
    </delete>

    <delete id="deleteTDimensionTableByIds" parameterType="String">
        delete from t_dimension_table where dimension_id in 
        <foreach item="dimensionId" collection="array" open="(" separator="," close=")">
            #{dimensionId}
        </foreach>
    </delete>
    
</mapper>