<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TSelfFunctionMapper">
    
    <resultMap type="TSelfFunction" id="TSelfFunctionResult">
        <result property="selfFunctionId"    column="self_function_id"    />
        <result property="selfFunctionNameCn"    column="self_function_name_cn"    />
        <result property="moduleType"    column="module_type"    />
        <result property="functionName"    column="function_name"    />
        <result property="functionType"    column="function_Type"    />
        <result property="functionPackagePath"    column="function_package_path"    />
        <result property="filePath"    column="file_path"    />
        <result property="filePathTwo"    column="file_path_two"    />
        <result property="functionParams"    column="function_params"    />
        <result property="selfFunctionDesc"    column="self_function_desc"    />
        <result property="inputParam" column="input_param"/>
        <result property="outputParam" column="output_param"/>
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTSelfFunctionVo">
        select self_function_id, self_function_name_cn, module_type, function_name, function_package_path,function_Type,file_path_two,
         file_path, function_params, self_function_desc,input_param,output_param,
          create_time, update_time,create_by,create_id,update_by from t_self_function t
    </sql>

    <select id="selectTSelfFunctionList" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        <where>
            <if test="selfFunctionNameCn != null  and selfFunctionNameCn != ''"> and self_function_name_cn like concat('%', #{selfFunctionNameCn}, '%')</if>
            <if test="functionName != null  and functionName != ''"> and function_name like concat('%', #{functionName}, '%')</if>
            <if test="selfFunctionDesc != null  and selfFunctionDesc != ''"> and self_function_desc like concat('%', #{selfFunctionDesc}, '%')</if>
            <if test="createTime != null ">and create_Time = #{createTime}</if>
            <if test="updateTime != null ">and update_Time = #{updateTime}</if>
            <if test="functionType != null and functionType != '' ">and function_Type = #{functionType}</if>
            <if test="dataScope != null and dataScope != ''"> ${dataScope}</if>
            and (function_Type = '01' or function_Type = '02' or function_Type = '03')
        </where>
        order by  create_Time desc
    </select>


    <select id="selectTSelfAndFunctionList" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        order by  create_Time desc
    </select>
    
    <select id="selectTSelfFunctionById" parameterType="Long" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where self_function_id = #{selfFunctionId}
    </select>
        
    <insert id="insertTSelfFunction" parameterType="TSelfFunction" useGeneratedKeys="true" keyProperty="selfFunctionId">
        insert into t_self_function
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="selfFunctionNameCn != null  and selfFunctionNameCn != ''">self_function_name_cn,</if>
            <if test="moduleType != null  and moduleType != ''">module_type,</if>
            <if test="functionName != null  and functionName != ''">function_name,</if>
            <if test="functionType != null  and functionType != ''">function_Type,</if>
            <if test="functionPackagePath != null  and functionPackagePath != ''">function_package_path,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="filePathTwo != null  and filePathTwo != ''">file_path_two,</if>
            <if test="functionParams != null  and functionParams != ''">function_params,</if>
            <if test="selfFunctionDesc != null  and selfFunctionDesc != ''">self_function_desc,</if>
            <if test="inputParam != null  and inputParam != ''">input_Param,</if>
            <if test="outputParam != null  and outputParam != ''">output_Param,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createId != null  and createId != ''">create_id,</if>
            create_time,
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="selfFunctionNameCn != null  and selfFunctionNameCn != ''">#{selfFunctionNameCn},</if>
            <if test="moduleType != null  and moduleType != ''">#{moduleType},</if>
            <if test="functionName != null  and functionName != ''">#{functionName},</if>
            <if test="functionType != null  and functionType != ''">#{functionType},</if>
            <if test="functionPackagePath != null  and functionPackagePath != ''">#{functionPackagePath},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="filePathTwo != null  and filePathTwo != ''">#{filePathTwo},</if>
            <if test="functionParams != null  and functionParams != ''">#{functionParams},</if>
            <if test="selfFunctionDesc != null  and selfFunctionDesc != ''">#{selfFunctionDesc},</if>
            <if test="inputParam != null  and inputParam != ''">#{inputParam},</if>
            <if test="outputParam != null  and outputParam != ''">#{outputParam},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createId != null  and createId != ''">#{createId},</if>
            sysdate(),
            sysdate()
         </trim>
    </insert>

    <update id="updateTSelfFunction" parameterType="TSelfFunction">
        update t_self_function
        <trim prefix="SET" suffixOverrides=",">
            <if test="selfFunctionNameCn != null  and selfFunctionNameCn != ''">self_function_name_cn = #{selfFunctionNameCn},</if>
            <if test="moduleType != null  and moduleType != ''">module_type = #{moduleType},</if>
            <if test="functionName != null  and functionName != ''">function_name = #{functionName},</if>
            <if test="functionType != null  and functionType != ''">function_Type = #{functionType},</if>
            <if test="functionPackagePath != null  and functionPackagePath != ''">function_package_path = #{functionPackagePath},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="filePathTwo != null  and filePathTwo != ''">file_path_two = #{filePathTwo},</if>
            <if test="functionParams != null  and functionParams != ''">function_params = #{functionParams},</if>
            <if test="selfFunctionDesc != null  and selfFunctionDesc != ''">self_function_desc = #{selfFunctionDesc},</if>
            <if test="inputParam != null  and inputParam != ''">input_Param = #{inputParam},</if>
            <if test="outputParam != null  and outputParam != ''">output_Param = #{outputParam},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            update_time=sysdate()
        </trim>

        where self_function_id = #{selfFunctionId}
    </update>

    <delete id="deleteTSelfFunctionById" parameterType="Long">
        delete from t_self_function where self_function_id = #{selfFunctionId}
    </delete>

    <delete id="deleteTSelfFunctionByIds" parameterType="String">
        delete from t_self_function where self_function_id in 
        <foreach item="selfFunctionId" collection="array" open="(" separator="," close=")">
            #{selfFunctionId}
        </foreach>
    </delete>

    <select id="selectTSelfFunctionByIds" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where self_function_id in
        <foreach item="selfFunctionId" collection="array"  open="(" separator="," close=")">
            #{selfFunctionId}
        </foreach>
    </select>

    <select id="selectTSelfFunctionByNameCn" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where self_function_name_cn = #{selfFunctionNameCn}
    </select>

    <select id="selectTSelfFunctionByName" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where function_Name = #{functionName}
    </select>

    <select id="selectTSelfFunctionByPackage" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where function_package_path = #{functionPackagePath}
    </select>

    <select id="selectTSelfFunctionByNameCnNoId" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where self_function_name_cn = #{selfFunctionNameCn}
        and self_function_id !=  #{selfFunctionId}
    </select>

    <select id="selectTSelfFunctionByNameNoId" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where function_Name = #{functionName}
        and self_function_id !=  #{selfFunctionId}
    </select>

    <select id="selectTSelfFunctionByPackageNoId" parameterType="TSelfFunction" resultMap="TSelfFunctionResult">
        <include refid="selectTSelfFunctionVo"/>
        where function_package_path = #{functionPackagePath}
        and self_function_id !=  #{selfFunctionId}
    </select>
</mapper>