<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TVariableClassificationMapper">

    <resultMap type="TVariableClassification" id="TVariableClassificationResult">
        <result property="variableClassificationId"    column="variable_classification_id"    />
        <result property="variableClassificationName"    column="variable_classification_name"    />
        <result property="sourceDabRelation"    column="source_dab_relation"    />
        <result property="sourceTwoDabRelation"    column="source_two_dab_relation"    />
        <result property="sourceDabField"    column="source_dab_field"    />
        <result property="dimensionRelation"    column="dimension_relation"    />
        <result property="sourceRelation"    column="source_relation"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="schemaDefine"    column="schema_define"    />
    </resultMap>

    <resultMap id="schemaPrimaryKey" type="java.util.Map">
        <result property="schemaPrimaryKey"    column="schema_Primary_Key"  />
        <result property="schemaTwoPrimaryKey"    column="schema_two_Primary_Key"  />
        <result property="createTableSql"    column="create_table_sql"  />
        <result property="createTableTwoSql"    column="create_table_two_sql"  />
        <result property="tableName"    column="table_name"  />
        <result property="tableTwoName"    column="table_two_name"  />
        <result property="sourceDabField"    column="source_dab_field"  />
        <result property="sourceDabRelation"    column="source_dab_relation"    />
        <result property="sourceTwoDabRelation"    column="source_two_dab_relation"    />
        <result property="sourceDabField"    column="source_dab_field"    />
        <result property="dimensionRelation"    column="dimension_relation"    />
        <result property="sourceRelation"    column="source_relation"    />
        <result property="waterMarkTime"    column="water_mark_time"  />
        <result property="waterMarkTwoTime"    column="water_mark_two_time"  />
        <result property="waterMarkName"    column="water_mark_name"  />
        <result property="waterMarkTwoName"    column="water_mark_two_name"  />
    </resultMap>

    <sql id="selectTVariableClassificationVo">
        select variable_classification_id, variable_classification_name, source_dab_relation, source_two_dab_relation, source_dab_field,dimension_relation,source_relation,
               d.description, d.create_time, d.modify_time,t.schema_define
        from t_variable_classification d
                 left join t_data_source t on d.source_dab_relation = t.table_name
    </sql>

    <sql id="selectSchemaPrimaryKey">
        SELECT d.schema_primary_key,t.schema_primary_key as schema_two_primary_key,d.create_table_sql,t.create_table_sql as create_table_two_sql,d.table_name,t.table_name as table_two_name,
               s.source_dab_field,s.dimension_relation,s.source_dab_relation,s.source_two_dab_relation,s.source_relation,d.water_mark_time,t.water_mark_time as water_mark_two_time,d.water_mark_name,t.water_mark_name as water_mark_two_name FROM ( t_variable_classification s LEFT JOIN t_data_source d ON s.source_dab_relation = d.table_name )
                   LEFT JOIN t_data_source t ON s.source_two_dab_relation = t.table_name
    </sql>

    <select id="selectSchemaPrimaryKeyByVariableId" resultMap="schemaPrimaryKey">
        <include refid="selectSchemaPrimaryKey"/>
        where variable_classification_id = #{variableClassificationId}
    </select>

    <select id="selectTVariableClassificationList" parameterType="TVariableClassification" resultMap="TVariableClassificationResult">
        <include refid="selectTVariableClassificationVo"/>
        <where>
            <if test="variableClassificationName != null  and variableClassificationName != ''"> and variable_classification_name like concat('%', #{variableClassificationName}, '%')</if>
            <if test="sourceDabRelation != null  and sourceDabRelation != ''"> and source_dab_relation = #{sourceDabRelation}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectTVariableClassificationById" parameterType="Long" resultMap="TVariableClassificationResult">
        <include refid="selectTVariableClassificationVo"/>
        where variable_classification_id = #{variableClassificationId}
    </select>

    <insert id="insertTVariableClassification" parameterType="TVariableClassification" useGeneratedKeys="true" keyProperty="variableClassificationId">
        insert into t_variable_classification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="variableClassificationName != null  and variableClassificationName != ''">variable_classification_name,</if>
            <if test="sourceDabRelation != null  and sourceDabRelation != ''">source_dab_relation,</if>
            <if test="sourceTwoDabRelation != null  and sourceTwoDabRelation != ''">source_two_dab_relation,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="sourceDabField != null  and sourceDabField != ''">source_dab_field,</if>
            <if test="dimensionRelation != null  and dimensionRelation != ''">dimension_relation,</if>
            <if test="sourceRelation != null  and sourceRelation != ''">source_relation,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="modifyTime != null ">modify_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="variableClassificationName != null  and variableClassificationName != ''">#{variableClassificationName},</if>
            <if test="sourceDabRelation != null  and sourceDabRelation != ''">#{sourceDabRelation},</if>
            <if test="sourceTwoDabRelation != null  and sourceTwoDabRelation != ''">#{sourceTwoDabRelation},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="sourceDabField != null  and sourceDabField != ''">#{sourceDabField},</if>
            <if test="dimensionRelation != null  and dimensionRelation != ''">#{dimensionRelation},</if>
            <if test="sourceRelation != null  and sourceRelation != ''">#{sourceRelation},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="modifyTime != null ">#{modifyTime},</if>
        </trim>
    </insert>

    <update id="updateTVariableClassification" parameterType="TVariableClassification">
        update t_variable_classification
        <trim prefix="SET" suffixOverrides=",">
            <if test="variableClassificationName != null ">variable_classification_name = #{variableClassificationName},</if>
            <if test="sourceDabRelation != null">source_dab_relation = #{sourceDabRelation},</if>
            <if test="sourceTwoDabRelation != null">source_two_dab_relation = #{sourceTwoDabRelation},</if>
            <if test="description != null ">description = #{description},</if>
            <if test="sourceDabField != null">source_Dab_Field = #{sourceDabField},</if>
            <if test="dimensionRelation != null">dimension_Relation = #{dimensionRelation},</if>
            <if test="sourceRelation != null">source_Relation = #{sourceRelation},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="modifyTime != null ">modify_time = #{modifyTime},</if>
        </trim>
        where variable_classification_id = #{variableClassificationId}
    </update>

    <delete id="deleteTVariableClassificationById" parameterType="Long">
        delete from t_variable_classification where variable_classification_id = #{variableClassificationId}
    </delete>

    <delete id="deleteTVariableClassificationByIds" parameterType="String">
        delete from t_variable_classification where variable_classification_id in
        <foreach item="variableClassificationId" collection="array" open="(" separator="," close=")">
            #{variableClassificationId}
        </foreach>
    </delete>

</mapper>