<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.WarningLogMapper">

    <resultMap type="WarningLog" id="WarningLogResult">
        <id     property="warningLogId"      column="warning_log_id"      />
        <result property="variablePackageName" column="variable_pack_name" />
        <result property="warningName"    column="warning_name"    />
        <result property="warningId"    column="warningId"    />
        <result property="warningNoticeType"   column="warning_notice_type"   />
        <result property="warningContent"    column="warning_content"    />
        <result property="warningLogTime"    column="warning_log_time"    />
        <result property="warningNoticeUser"    column="warning_notice_user"    />
    </resultMap>

    <resultMap id="checkWarningTimeResult" type="java.util.Map">
        <result property="time"    column="max_time"    />
    </resultMap>

    <sql id="selectWarningLog">
        select warning_log_id, warning_id, warning_name, warning_notice_type, variable_pack_name, warning_log_time, warning_notice_user, warning_content
        from `warning_log`
    </sql>

    <select id="selectWarningLogList" parameterType="WarningLog" resultMap="WarningLogResult">
        <include refid="selectWarningLog"/>
        <where>
            <if test="warningName != null  and warningName != ''"> and warning_name like concat('%', #{warningName}, '%')</if>
            <if test="variablePackageName != null  and variablePackageName != ''"> and variable_pack_name like concat('%', #{variablePackageName}, '%')</if>
            <if test="warningContent != null  and warningContent != ''"> and warning_content like concat('%', #{warningContent}, '%')</if>
        </where>
        order by warning_log_time desc
    </select>

    <select id="checkWarningTime" parameterType="WarningLog" resultMap="checkWarningTimeResult">
        SELECT MAX(a.warning_log_time) max_time FROM (SELECT * from warning_log WHERE warning_id = #{warningId}) a GROUP BY a.warning_id
    </select>

    <insert id="insertWarningLog" parameterType="WarningLog" useGeneratedKeys="true" keyProperty="warningLogId">
        insert into warning_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warningName != null  and warningName != ''">warning_name,</if>
            <if test="warningId != null  and warningId != ''">warning_id,</if>
            <if test="warningContent != null  and warningContent != ''">warning_content,</if>
            <if test="variablePackageName != null  and variablePackageName != ''">variable_pack_name,</if>
            <if test="warningNoticeType != null  and warningNoticeType != ''">warning_notice_type,</if>
            <if test="warningNoticeUser != null  and warningNoticeUser != ''">warning_notice_user,</if>
            warning_log_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warningName != null  and warningName != ''">#{warningName},</if>
            <if test="warningId != null  and warningId != ''">#{warningId},</if>
            <if test="warningContent != null  and warningContent != ''">#{warningContent},</if>
            <if test="variablePackageName != null  and variablePackageName != ''">#{variablePackageName},</if>
            <if test="warningNoticeType != null  and warningNoticeType != ''">#{warningNoticeType},</if>
            <if test="warningNoticeUser != null  and warningNoticeUser != ''">#{warningNoticeUser},</if>
            sysdate()
        </trim>
    </insert>
</mapper>