/*
!.gitignore
!/ferghana/ferghana.iml
!/ferghana/pom.xml
!/ferghana/ferghana-core
/ferghana/ferghana-core/*
!/ferghana/ferghana-core/src
!/ferghana/ferghana-core/pom.xml
!/ferghana/ferghana-core/ferghana-core.iml
!/ferghana-web/
/ferghana-web/dist
/ferghana-web/node_modules